.user-forms {
  // padding: var(--space-lg) calc(2 * var(--space-lg));
  background: var(--bg-2);
}

.user-section-wrapper {
  max-height: 0;
  transition: max-height 0.4s;
  z-index: 0;
}
.user-section-wrapper.active {
  max-height: 50vh;
  // overflow: hidden;
  box-shadow: 1px 1px 10px 10px rgba(30, 30, 45, 0.3);
}
.user-section {
  // border: var(--line-width) solid;
  color: var(--dark-1);
  background: var(--bg-2);
}

.user-sign-in-reg-container {
  max-height: 0;
  transition: max-height 0.3s;
}
.user-sign-in-reg-container.active {
  max-height: 100rem;
}
